* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

header {
  font-family: 'Satisfy', cursive;
  color: #f6bb42;
  background-color: #434a54; 
  font-size: medium;
  text-align: center;
  
}

body, html {
  height: 100%;
}

.parallax {

  background-image: url('img/yellow.jpg');

  min-height: 500px; 

  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

h2 {
  border: 20px #656d78;
  padding: 50px;
  height: 450px;
  font-family: 'Work Sans', sans-serif;
  color: #ffce54;
  background-color: #656d78;
  text-align: left;
}

span {
  background-color: #ffce54;
  font-family: 'Yuji Syuku', serif;
  color: #434a54;

}

.button {
  border: #ffce54;
  color: #656d78;
  padding: 16px 22px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 0px 0px;
  transition-duration: 0.4s;
  cursor: pointer;
}

.button {
  background-color: #656d78;
  color: #ffce54;
  border: 2px solid #ffce54;
}

.button:hover {
  background-color: #ffce54;
  color: #656d78;
  
}

@media screen and (min-width: 376px) {
h2 {
  font-size: 22px;
}
}

@media screen and (max-width: 375px) {
h2 {
  font-size: 14px;
}
}
@media screen and (min-height: 376px) {
h2 {
  font-size: 22px;
}
}   
@media screen and (max-height: 375px) {
h2 {
  font-size: 14px;
}
}

footer {
  font-family: 'Pacifico', cursive;
  color: #f6bb42;
  background-color: #434a54; 
  font-size: medium;
  text-align: center;
  
}