* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

body {
  max-width: 1920px;
  min-width: 375px;
  max-height: 1080px;
  min-height: 375px;
  background-color: #ffce54;

}

.button {
  border: white;
  color: white;
  padding: 16px 82px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 36px;
  margin: 0px 0px;
  transition-duration: 0.4s;
  cursor: pointer;
}

.button {
  background-color: #ffce54; 
  color: white; 
  border: 2px solid white;
}

.button:hover {
  background-color: white;
  color: #ffce54;
}

h1 {
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: 'Times New Roman', Times, serif;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%)

}
