h1 {font-family: "Lucida Handwriting", "Courier New", monospace;}
h2 {font-family: "Sweet Whisper", "Courier New", monospace;}
div.a {
    text-align: center;
  }
h3 {font-family: 'Sacramento';}

  .lead {
      font-family: "Sacramento";
      color: white;
  }
  #h3 {background-color:hsla(0, 100%, 30%, 0.3);}
  div.b {
    font-size: 25px;
  }