* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
div {
    background: linear-gradient(to bottom, #fddf7e 22%, #ffffff 95%);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    
}