body { 
    background: rgba(61, 59, 59, 0.979);
  } 






h1 {font-family: "Lucida Handwriting", "Courier New", monospace;}
h2 {font-family: 'Sacramento';}
div.a {
    text-align: center;
  }
h3 {font-family: 'Sacramento';}

  .lead {
      font-family: "Sacramento";
      color: white;
  }
  #h3 {background-color:hsla(0, 100%, 30%, 0.3);}
  div.b {
    font-size: 25px;
  }
  div.c {
    font-size: 45px;
  }

  
  h2 {
      font-size: 30px;
  }