* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

body {
  max-width: 1920px;
  min-width: 375px;
  max-height: 1080px;
  min-height: 375px;
  background-color: #ffce54;

}

header {
  font-family: 'Satisfy', cursive;
  color: #f6bb42;
  background-color: #434a54; 
  font-size: medium;
  text-align: center;
  
}

footer {
  font-family: 'Pacifico', cursive;
  color: #f6bb42;
  background-color: #434a54; 
  font-size: medium;
  text-align: center;
  
}