body { 
    background: rgba(61, 59, 59, 0.979);
    margin: 0;
    padding: 0;
  } 

header { 
    background: rgb(204, 230, 187);
    background-image: url("images/header\ pic.jpg");
    background-size: 100%;
    background-position: center;
    height: 400px;
    padding: 20px;
    text-align: center;
} 

header .logo a { 
  display: none;
}

header .logo a { 
  background-image: url("images/Allesveganlogo.png");
  background-size: 300px;
  background-repeat: no-repeat;
  display: inline-block;
  height: 80px;
  position: relative;
  text-indent: -9999999px;
  top: -30px;
  width: 30px;
}

nav ul { 
  margin: 0;
  padding: 0;
  list-style-type: none;
}

nav li { 
  display: inline-block;
  margin: 20px;
} 

/* RESPONSIVE RULES */
@media screen and (max-width: 415px) {
  header .mobile {
    display: inline-block;
  }
  header .desktop {
    display: none;
  }
}

/* FEATURES */

.features  { 
    background: rgb(204, 230, 187);
    padding: 20px;
    display: flex; 
    flex-direction: row;
} 

.features figure { 
    margin: auto;
    text-align: center;
    width: 200px;
}

.features figure img {
  border: 1px solid white;
  border-radius: 70px;
  box-shadow: rgba(61, 59, 59, 0.979) 0 0 10px;
  width: 200px;
} 

footer  { 
    background:   rgb(204, 230, 187);
    color: rgba(61, 59, 59, 0.979);
    font-size: 12px;
    padding: 20px 20px;
    text-align: center;
} 




h1 {
    font-family: "Lucida Handwriting", "Courier New", monospace;
    color: rgb(204, 230, 187);
  }
h2 {font-family: 'Sacramento';}
div.a {
    text-align: center;
  }
h3 {font-family: 'Sacramento';}

  .lead {
      font-family: "Sacramento";
      color: white;
  }
  #h3 {background-color:hsla(0, 100%, 30%, 0.3);}
  div.b {
    font-size: 25px;
  }
  div.c {
    font-size: 45px;
  }

  
  h2 {
      font-size: 30px;
  }