* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

body, html {
  height: 100%;
  background-color: #f6bb42;
}


header {
  padding: 5px;
  font-family: 'Satisfy', cursive;
  color: #f6bb42;
  background-color: #434a54; 
  font-size: medium;
  text-align: center;
  
}

.dropbtn {
  background-color: #f6bb42;
  color: #434a54; 
  padding: 6px;
  font-size: 18px;
  font-family: 'Satisfy', cursive;;
  border: none;
  cursor: pointer;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #434a54;
  color: #f6bb42;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: white;
  padding: 6px 10px;
  text-decoration: none;
  display: inline-block;
}

.dropdown-content a:hover {background-color: #f6bb42;}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #f6bb42;
}

h2 {
  border: 40px #656d78;
  padding: 40px;
  height: 20px;
  font-family: 'Yuji Syuku', serif;
  color: #656d78;
  text-align: left;
}

.p {
  border: 40px;
  padding: 20px;
  height: 20px;
  font-family: 'Yuji Syuku', serif;
  color: #656d78;
  text-align: left;
}

@media screen and (min-width: 376px) {
  h2 {
    font-size: 18px;
  }
  }
  
  @media screen and (max-width: 375px) {
  h2 {
    font-size: 8px;
  }
  }
  @media screen and (min-height: 376px) {
  h2 {
    font-size: 18px;
  }
  }   
  @media screen and (max-height: 375px) {
  h2 {
    font-size: 8px;
  }
  }
  
footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  font-family: 'Pacifico', cursive;
  color: #f6bb42;
  background-color: #434a54; 
  font-size: medium;
  text-align: center;
  
}