* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  
  }

body, html {
    height: 100%;
}

.parallax {

    background-image: url('img/yellow.jpg');
  
    min-height: 500px; 
  
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

h1 {
    font-family: 'Courier New', Courier, monospace;
    font-style: italic;
    color: salmon;
    font-size: 62px;
    background-image: url('img/yellow.jpg');

}


  /* it finally fucking works, img imported CHECK parallax working CHECK - always add body, html with 100% */ /* 